{% extends "base.twig" %}

{% block content %}
  <!-- Provided by templates/archive.twig -->
  {% embed '@layouts/regions/content/content.twig' %}

    {% block content %}
			{% include "@components/page-title/page-title.twig" with
				{
					page_title: __('Archives: ', 'gesso') ~ title
				}
			%}
			{% include 'templates/components/loop.twig' %}
			{% include '@components/pager/pager.twig' %}
    {% endblock %}
  {% endembed %}
{% endblock %}
