{% block html_head_container %}
  {% include 'html-header.twig' %}
{% endblock %}

{% block page_header %}
  {# This is where you would stick another header, if different than #}
  {{ function('get_header') }}
{% endblock %}

<!-- Provided by templates/base.twig -->
<body {{ function('body_class')}}>

  {% block skiplinks %}
    <!-- <div class="skiplinks">
      <a href="#main" class="skiplinks__link visually-hidden focusable">Skip to main content</a>
    </div> -->
  {% endblock %}

{% block header %}
  {% embed '@layouts/regions/header/header.twig' %}
    {% block content %}
      <a href="/"><img class="header__logo" src="{{ options.global_logo.url }}" alt=""></a>
      {% include '@components/menu/menu.twig' with
        {
          items: primary_menu.items,
          menu_name: 'main'
        }
      %}
      {# include '@components/searchform/searchform.twig'
      #}
    {% endblock  %}
  {% endembed %}
{% endblock %}
  {# embed '@layouts/regions/navigation/navigation.twig' #}
    {# block content #}

    {# endblock  #}
  {# endembed #}
  <main id="main" class="main" role="main" tabindex="-1">
    {% embed '@layouts/regions/preface/preface.twig' %}
      {% block content %}
      {% endblock %}
    {% endembed %}

    {% block content %}
      {% embed '@layouts/regions/content/content.twig' %}
        {% block content %}

        {% endblock %}
      {% endembed %}
    {% endblock %}

    {% embed '@layouts/regions/postscript/postscript.twig' %}
      {% block content %}
      {% endblock %}
    {% endembed %}
  </main>

  {% block footer %}

    {% include 'footer.twig' %}
    {{ function('wp_footer') }}
  {% endblock %}

  {% block javascripts %}
  {% endblock %}


 </body>
</html>
