{% extends "base.twig" %}

{% block content %}
  <!-- Provided by templates/front-page-2019.twig -->
  <div class="fp2019" style="background-image:url('{{ post.thumbnail.src }}')">
    <div class="fp2019__title">
      <h1 class="">SOUL<br>FOCUS</h1>
      <div class="fp2019__social">
        {% include '@components/social-menu/social-menu.twig'%}
      </div>
    </div>
    <div class="fp2019__content">
      {{ post.content|wpautop }}
    </div>
    <!-- <div class="fp2019__form">
      <h2>Join our Community</h2>
      {# filter shortcodes #}
        [mc4wp_form id="1887"]
      {# endfilter #}
    </div> -->


    {% if playlists %}
    <div class="fp2019__playlists">
      <h2>Playlists</h2>
      {% for p in playlists %}
          <div class="">
            <a href="/playlists/{{ p.slug }}">{{ p.title }}</a> // Published {{ p.post_date|date("F jS Y")  }}
          </div>
      {% endfor %}
    </div>
    {% endif %}

  </div>
{% endblock %}

{% block footer %}{% endblock %}
