{% extends "base.twig" %}

{% block content %}
  <!-- Provided by templates/front-page.twig -->

  <!-- Page Builder -->
    {% embed "@components/page-builder/page-builder.twig" %}
    {% endembed %}


    <div class="l-homepage">
      <div class="l-homepage__hero">


        {% if post.content %}
          <div class="hero-content">{{ post.content }}</div>
        {% endif %}

        <div class="hero-form">
          {% filter shortcodes %}
              [mc4wp_form id="1887"]
          {% endfilter %}
        </div>
      </div>
      <div class="l-homepage__playlists">
        <h2>Playlist</h2>
      {% include 'components/section--playlists.twig'%}
      {% include 'components/section--events.twig'%}</div>
      <div class="l-homepage__events"></div>
      <div class="l-homepage__content"></div>
      <!-- <div class="l-homepage__genres"></div>
      <div class="l-homepage__cuerators"></div> -->
    </div>


{% endblock %}
