<!DOCTYPE html>
<!--[if lt IE 7]> <html <?php language_attributes(); ?> class="ie6 lt-ie9 lt-ie8 lt-ie7 no-js"> <![endif]-->
<!--[if IE 7]> <html <?php language_attributes(); ?> class="ie7 lt-ie9 lt-ie8 no-js"> <![endif]-->
<!--[if IE 8]> <html <?php language_attributes(); ?> class="ie8 lt-ie9 no-js"> <![endif]-->
<!--[if IE 9]> <html <?php language_attributes(); ?> class="ie9 no-js"> <![endif]-->
<!--[if gt IE 9]><!-->
<html {{site.language_attributes}} class="no-js">
  <!--<![endif]-->
  <head>
    <meta charset="{{site.charset}}"/>
    <link href="{{site.theme.link}}/images/favicon.ico" rel="shortcut icon">
    <meta name="HandheldFriendly" content="true">
    <meta name="MobileOptimized" content="width">
    <meta content="minimum-scale=1.0, maximum-scale=1.0,initial-scale=1" name="viewport">
    <meta http-equiv="cleartype" content="on">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="{{ site.description }}">
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCSWLL67FtEOrGQE-vFSwddXx4RDV4x3p4"></script>
    <link rel="alternate" type="application/rss+xml" title="Subscribe to the SOUL FOCUS FM Podcast" href="https://soulfocus.fm/podcast/feed/sffmpodcasts/"/>
    <link href="https://fonts.googleapis.com/css?family=Lato|Poppins:300,700" rel="stylesheet">
  
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async="async" src="https://www.googletagmanager.com/gtag/js?id=UA-2715112-18"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag('js', new Date());

      gtag('config', 'UA-2715112-18');
    </script>

    {{ function('wp_head') }}
  </head>
