{% extends "base.twig" %}

{% block header %}{% endblock %}

{% block content %}
  <!-- Provided by templates/page-links.twig -->
    <div class="page page--links">

      {% if post.thumbnail %}
        <div class="page__logo">
          <a href="/"><img src="{{ post.thumbnail.src|resize(200) }}" alt="Logo link to Homepage"></a>
          <div class="page__login">
            {{ function('edit_post_link', 'Edit Page', '<span class="edit-link">', '</span>') }}
          </div>
        </div>
      {% endif %}

      {% if post.link_page_header  %}
        <div class="page__header">
          {{ post.link_page_header }}
        </div>
      {% endif %}

        <div class="page__repeater">

          {% for t in post.meta('link_repeater') %}
            <h{{t.header_type}} class="link link--repeater{{ t.class ? t.class : ''}}"><a href="{{ t.url.url }}" target="{{ t.url.target }}">{{ t.url.title }}</a></h{{t.header_type}}>
          {% endfor %}
        </div>


      {% if post.link_page_footer  %}
        <div class="page__footer">
          {{ post.link_page_footer }}
        </div>
      {% endif %}
    </div>
{% endblock %}

{% block footer %}{% endblock %}
