{% extends "base.twig" %}

{% block header %}{% endblock %}

{% block content %}
  <!-- Provided by templates/page-playlist.twig -->
  <div class="page page--playlist">

    <div class="page__sidebar">

      {% if options.global_logo.url %}
        <div class="page__logo">
          <a href="/"><img src="{{ theme.link }}/images/sf_logo2x.png" alt="Soul Focus FM Logo"></a>
        </div>
        {# function('edit_post_link', 'Edit Page', '<span class="edit-link">', '</span>') #}
      {% endif %}

      {% if post.post_content %}
        <div class="page__social">
          {% include '@components/social-menu/social-menu.twig' %}
        </div>
      {% endif %}

      {% if primary_menu.items %}
        <div class="page__menu">
          {% include '@components/menu/menu.twig' with {
            items : primary_menu.items,
            menu_name: 'main'
            }
          %}
        </div>
      {% endif %}

      {% if post.post_content %}
        <div class="page__content">
          {{ post.post_content }}
        </div>
      {% endif %}

      <div class="page__subscriber">
        {% include '@components/subscribe/subscribe.twig' %}
      </div>

      <div class="facet">
        <div class="facet__header">
          Filter Episodes
        </div>
        <div class="facet__window is-open">
          {% filter shortcodes %}
          <span class="facet__title">Genres</span>
          [facetwp facet="facet_genres"]
          <span class="facet__title">Moods</span>
          [facetwp facet="facet_moods"]
          <span class="facet__title">Format</span>
          [facetwp facet="facet_formats"]
          {% endfilter %}
          <button value="Reset" onclick="FWP.reset()" class="facet-reset">Reset Filters</button>
        </div>
      </div>


    </div>

    <div class="page__grid facetwp-template">
      {% if facet %}
        {% for item in facet %}
          <a class="grid-item grid-item--playlist" style="background-image: url({{ item.thumbnail.src ? item.thumbnail.src :'' }});" href="{{ item.path }}">
            <div class="grid__meta">
              <h3 class="grid-item__title">{{ item.post_title }}</h3>
              <p class="grid-item__date">{{ item.post_date|date(F,Yd) }}</p>
            </div>
          </a>
        {% endfor %}

      {% endif %}

    </div>

    {% if playlists.pagination %}
      <div class="page__pagination">
        {% include "@components/pager/pager.twig" with {
          pagination : playlists.pagination
        } %}
      </div>
    {% endif %}

  </div>

{% endblock %}
