{% extends "base.twig" %}

{% block header %}
{% endblock %}

{% block content %}
  <!-- Provided by templates/page-library.twig -->
  {# include 'templates/components/fullpage-slide.twig' #}
  <div class="page page--library">

    <div class="page__section page__section--row1">

      <div class="page__main" {% if post.thumbnail.src %} style="background-image:url({{ post.thumbnail.src }});" {% endif %}>
        <h1 class="page__title">{{ post.post_title }}</h1>
        <div class="page__description">{{ post.post_content }}</div>
      </div>

      <div class="playlist">
        <h2>Playlists</h2>
        {% for item in playlists %}
          <a href="{{ item.link }}" class="playlister__cell" {% if item.thumbnail.src %} style="background-image:url({{ item.thumbnail.src }});" {% endif %}>
            <h3 class="playlister__title">{{ item.post_title }}</h3>
            <div class="playlister__date">Posted
              {{ item.post_date|date('F j Y') }}</div>
          </a>
        {% endfor %}
      </div>
    </div>

    <div class="page__section page__section--row2">
      <div class="social">
        <h2>Social</h2>
        <a href="#" class="social__link">Instagram</a>
        <a href="#" class="social__link">Twiter</a>
        <a href="#" class="social__link">Soundcloud</a>
      </div>

      <div class="genres">
        <h2>Genres</h2>
        {% for g in genres %}
          <a href="{{site.url}}/genres/{{g.slug}}" class="tag tag--genre">{{ g.title }}</a>
        {% endfor %}
      </div>

      <div class="moods">
        <h2>Moods</h2>
        {% for m in moods %}
          {% if (m.count > 0) %}
            <a href="{{site.url}}/moods/{{m.slug}}" class="tag tag--moods">{{ m.title }}</a>
          {% endif %}
        {% endfor %}
      </div>

      <div class="events">
        <h2>Events</h2>
        {% for e in events %}
          <a href="{{site.url}}/events/{{e.slug}}" class="tag tag--events">{{ e.title }}</a>
        {% endfor %}
      </div>

    </div>

  </div>
{% endblock %}

{% block sidebar %}{% endblock %}
