{% extends "base.twig" %}

{% block content %}
  <!-- Provided by templates/single-podcast.twig -->
  <div class="podcast">
    {# include 'templates/components/hero--podcast.twig' #}
    <div class="l-constrain">
      <div class="l-podcast">
        <div class="l-podcast__main">

          <h1 class="podcast__title">{{ post.title }}</h1>

          <div class="podcast__content">
            {% if post.content %}
              {{ post.content|wpautop }}
              {% if post.podcast_tracklist %}<a href="{{post.link}}" target="_blank">See full tracklist on our website!</a>{% endif %}
            {% endif %}

            {% if post.podcast_tracklist %}
              <div class="podcast__meta-title">Tracklist</div>
              {{ post.podcast_tracklist|wpautop }}
            {% endif %}
          </div>

        </div>
        <div class="l-podcast__sidebar">
          <div class="podcast__cover" {% if post.thumbnail.src %} style="background-image:url({{ post.thumbnail.src }});" {% endif %}></div>
          {% if post.podcast_curator %}
          <div class="podcast__curators">
            <div class="podcast__meta-title">{{ TimberTerm(post.podcast_format).name }} by</div>

            {% for c in TimberPost(post.podcast_curator) %}
              <div>
                <!-- <a href="{{c.link}}" target="_blank" class="podcast__curator">{{ c.post_title }}</a> -->
                <span class="podcast__curator">{{ c.post_title }}</span>
                {% if c.contact_affiliations %}
                  <span class="podcast__affiliations">({{ c.contact_affiliations }})</span>
                {% endif %}
              </div>
            {% endfor %}
          </div>
          {% endif %}

          <div class="podcast__meta">
            {% if options.global_podcast_hero_nav_title %}
              <div class="podcast__meta-title">{{ options.global_podcast_hero_nav_title }}</div>
            {% endif %}
            <div class="hero__nav">
              {% if function('previous_post_link', '<span class="tag tag--link">%link</span>') == true %}{% endif %}
              {% if function('next_post_link', '<span class="tag tag--link">%link</span>') == true %}{% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
  {{ content }}
{% endblock %}
