{% extends "base.twig" %}

{% block content %}
  <!-- Provided by templates/single-staff.twig -->
    <div class="l-constrain">
      <!-- <pre>{{ post | print_r }}</pre> -->
      <div class="post staff">
        <div class="staff__image" style="background-image:url('{{ post.thumbnail.src }}');"></div>
        <h1 class="staff__title">{{ post.title }}</h1>

        <div class="staff__meta">      
          <div class="staff__location">{{ post.contact_location.address }}</div>
          <a href="mailto:{{ post.contact_email }}" target="blank" class="staff__email tag">Email</a>
          {% for contact in post.get_field('contact_links') %}
            <a href="{{ contact.url }}" class="staff__link tag">{{ contact.label }}</a>
          {% endfor %}
        </div>

        {% if post.content %}
          <div class="staff__content">
            {{ post.content }}
          </div>
        {% endif %}
      </div>

    </div>
{% endblock %}

{% block sidebar %}{% endblock %}
