{% extends "base--constrained.twig" %}

{% block header %}
  <!-- Provided by templates/single-tracks.twig -->
{% endblock %}

{% block skiplinks %}
{% endblock %}

{% block content %}
  <!-- Provided by templates/single-tracks.twig -->
  {% set myTitle = post.title %}
  {% set myTitle = myTitle|replace({'–':'>'}) %}
  <h1 class="track__title">{{ myTitle }}</h1>

  {% for artist in TimberTerm(post.meta('tracks_artist')) %}
    <div class="tracks__artist">
      <pre>{{ artist.name }}</pre>
    </div>
  {% endfor %}

  {% if post.meta('tracks_video') %}
    <div class="tracks__video">
      {{ oembed }}
    </div>
  {% endif %}

  {% for mood in TimberTerm(post.meta('tracks_moods')) %}
    <div class="tracks__mood">
      <pre>{{ mood.name }}</pre>
    </div>
  {% endfor %}

  {% for genre in TimberTerm(post.meta('tracks_genre')) %}
    <div class="tracks__mood">
      <pre>{{ genre.name }}</pre>
    </div>
  {% endfor %}

  {% if post.meta('tracks_description') %}
    <div class="tracks__description">
      {{ post.meta('tracks_description') }}
    </div>
  {% endif %}

  {% if post.meta('tracks_audio') %}
    <div class="tracks__audio">
      {{ post.meta('tracks_audio') }}
    </div>
  {% endif %}

{{ prev_page }}
{{ next_page }}

{% endblock %}

{% block sidebar %}
<!-- Provided by templates/single-tracks.twig -->
  <div class="l-sidebars__sidebar">
    <pre>{{ mood | print_r }}</pre>
    <div class="l-vertical">
      {% if post.meta('tracks_link') %}
        <div class="l-vertical__cell">
          <a class="tag tag--sidebar tag--red-xl" class="track__link" href="/{{ post.tracks_link }}">Support Artist</a>
        </div>
      {% endif %}

      {% if artist %}
        <div class="l-vertical__cell">
          <h3 class="tracks__sidebar-title">Artist</h3>
          {% for a in artist %}
            {% set artistTerm = TimberTerm(a) %}
            <a class="tag tag--sidebar" class="track__artist" href="/{{ artistTerm.taxonomy }}/{{ artistTerm.slug }}">{{ artistTerm.name }}</a>
          {% endfor %}
        </div>
      {% endif %}

      {% if moods %}
        <div class="l-vertical__cell">
          <div class="tracks__moods">
            <h3 class="tracks__sidebar-title">Moods</h3>
            {% for term in moods %}
              <a class="tag tag--sidebar" href="/{{ term.taxonomy }}/{{ term.slug }}">{{ term.name }}</a>
            {% endfor %}
          </div>
        </div>
      {% endif %}

      {% if genres %}
        <div class="l-vertical__cell">
          <div class="tracks__genre">
            <h3 class="tracks__sidebar-title">Genres</h3>
            {% for term in genres %}
              <a class="tag tag--sidebar" href="/{{ term.taxonomy }}/{{ term.slug }}">{{ term.name }}</a>
            {% endfor %}
          </div>
        </div>
      {% endif %}
    </div>

  </div>

{% endblock %}
