{% extends 'base.twig' %}

{% block content %}

  <!-- Provided by templates/single-events.twig -->
  <div class="l-constrain">
    <div class="page page--events">

      <div class="l-event">
        <div class="l-event__top">
          <h1 class="event-title">{{ post.title }}</h1>
          {{ function('edit_post_link', 'Edit Page', '<span class="edit-link">', '</span>') }}
        </div>

        <div class="l-event__left">
          {% if post.events_start_time %}
            <h5>Date & Time</h5>
            <div class="date">{{ post.events_start_time | date("l F jS, Y g:iA")}}</div>
          {% endif %}

          {% if post.events_venue %}
            <h5>Venue</h5>
            <div class="address">{{ post.events_venue.address }}</div>
            <a class="map-button" target="_blank" href="https://www.google.com/maps/search/?api=1&query={{post.events_venue.lat}},{{post.events_venue.lng}}&query_place_id{{post.events_venue.address}}"><span class="button">Open in Google Maps</span></a>
          {% endif %}

          {% if post.events_description %}
            <div class="content">
              <h5>Info</h5>
              <div>{{ post.events_description }}</div>
            </div>
          {% endif %}
        </div>


        <div class="l-event__image">
          <img src="{{ post.thumbnail.src }}" alt="{{ post.thumbnail.alt }}">
        </div>

        <div class="l-event__right">
          {% if post.events_featured_artists %}
            <h5>Featuring</h5>
            {% for artist in TimberTerm(post.events_featured_artists) %}
              <div>{{ artist.name }}</div>
            {% endfor %}
          {% endif %}

          {% if post.events_links %}
            <h5>Links</h5>
            {% for link in post.meta('events_links') %}
              <a class="link" href="{{ link.url.url }}" target="{{ link.url.target }}">{{ link.url.title }}</a>
            {% endfor %}
          {% endif %}

          {% if post.events_tickets_url %}
            <h5>Tickets</h5>
            {% for link in post.meta('events_tickets_url') %}
              <a class="link" href="{{ link.url }}" target="{{ link.target }}">{{ link.title }}</a>
            {% endfor %}
          {% endif %}
        </div>

        <div class="l-event__bottom">
          {% if post.events_venue %}
            <div class="section__map acf-map">
              <div class="marker" data-lat="{{ post.events_venue.lat }}" data-lng="{{ post.events_venue.lng }}"></div>
            </div>
          {% endif %}
        </div>
      </div>
    </div>

  </div>
{% endblock %}

{% block sidebar %}{% endblock %}
