{% extends "base.twig" %}


{% block content %}
  <!-- Provided by templates/single-playlists.twig -->
  {% include 'templates/components/hero--playlist.twig' %}
  {% if post.meta('playlist_select') == "Tracks" %}
    {% include 'templates/components/playlist--tracks.twig' %}
  {% else %}
    {% include 'templates/components/oembed.twig' %}
  {% endif %}
{% endblock %}

{% block sidebar %}{% endblock %}
