.accordion {
	background-color: get-color(grey,0);
	padding: 2rem 0;
	.accordion__title {
    color: get-color(black, 0);
		font-size: $font-size-xl;
    font-family: $header-font-family;
    font-weight: 700;
		letter-spacing: 0.9px;
		padding: 2rem 0 0 0;
	}
  .accordion__item-title-text {
    color: get-color(white, 0);
  }
	.accordion__item {
		padding-top:25px;
		padding-bottom: 25px;
		.accordion__item-title {
      background-color: get-color(red, 0);
			font-size: $font-size-sm;
      padding: 1rem;
			@media (min-width: $bp-hide-mobile-menu) {
				font-size: $font-size-lg;
			}
		}
		.accordion__item-content {
      background-color: get-color(grey, 1);
      color: $color-text-primary;
			display: none;
			font-size: $font-size-sm;
			font-weight: 400;
      padding: 1rem;
			@media (min-width: $bp-hide-mobile-menu) {
				font-size: $font-size-lg;
			}
		}
		.plus-icon {
			color: get-color(white, 0);
			float:right;
		}
	}
	.button-link {
		padding-top:30px;
		display:block;
		font-size: $font-size-lg;
		text-decoration: none;
		color: get-color(green, 0);
	}
}
