<div class="accordion">
	<div class="l-constrain">
		<div class="accordion__title">
			{{item.accordion_title}}
		</div>
		{% for accordion_item in item.accordion_items %}
			<div class="accordion__item">
				<div class="accordion__item-title">
					<span class="accordion__item-title-text">{{accordion_item.accordion_item_title}}</span>
					<span class="plus-icon"><i class="fas fa-plus"></i></span>
				</div>
				<div class="accordion__item-content">
					{{accordion_item.accordion_item_content}}
				</div>
			</div>
		{% endfor %}
		{% set link = item.accordion_button %}
		<!-- if there is a button here -->
		{% if link %}
        	<a href="{{ link['url']}} " target="{{ link['target'] }}" class="button-link">{{ link['title'] }}</a>
		{% endif %}
	</div>
</div>