.fifty-fifty-no-image {
    display: flex;
    flex-direction: column;
    .event-header {
        font-size: $font-size-lg;
        color: get-color(grey, 3);
    }
    .event-content {
        font-size: $font-size-sm;
        padding-top: 20px;
        color: get-color(grey, 3);
        margin-bottom: 40px;
    }
    @media (min-width: $bp-hide-mobile-menu){
        flex-direction: row;
    }
    .fifty-fifty-no-image__left {
    	flex-basis: 50%;
        padding: 40px 30px 70px 30px;
        @media (min-width: $bp-hide-mobile-menu){
            padding: 40px 55px 70px 130px;
        }
    	.fifty-fifty-no-image__title {
    		h2 {
    			font-size: $font-size-lg;
    			color: get-color(grey, 1);
    			letter-spacing: 0.9px;
                font-weight: 600;
    		}
    	}
    	.fifty-fifty-no-image__content {
    		font-size: $font-size-sm;
            ul {
                li {
                    list-style:disc;
                }
            }
    	}
    }
    .fifty-fifty-no-image__right {
    	flex-basis: 50%;
        padding: 40px 30px 70px 30px;
        @media (min-width: $bp-hide-mobile-menu){
    	   padding: 40px 130px 70px 55px;
        }
    	.fifty-fifty-no-image__title {
    		h2 {
    			font-size: $font-size-lg;
    			letter-spacing: 0.9px;
                font-weight: 600;
    		}
    	}
    	.fifty-fifty-no-image__content {
    		font-size: $font-size-sm;
            line-height: 1.75;
            margin-bottom: 60px;
    	}
        .button {
            border: none;
            background-color: get-color(green, 0);
            color: #fff;
            font-weight: 700;
            letter-spacing: 1px;
        }
    }
}
.fifty-fifty-no-image__right--dark {
	background-color: #184f7f;
	.fifty-fifty-no-image__title {
		h2 {
				color: #fff;
		}
	}
	.fifty-fifty-no-image__content {
		color: #fff;
        p {
            color: #fff;
        }
	}
}
.fifty-fifty-no-image__right--light {
	background-color: get-color(blue, 0);
	.fifty-fifty-no-image__title {
		h2 {
				color: get-color(grey, 1);
		}
	}
	.fifty-fifty-no-image__content {

	}
}
.fifty-fifty-no-image {
    .fifty-fifty-no-image__left--dark {
    	background-color: #184f7f;
        .fifty-fifty-no-image__title {
            h2 {
                    color: #fff;
            }
        }
        .fifty-fifty-no-image__content {
            color: #fff;
            p {
                color: #fff;
            }
        }
    }
}
.fifty-fifty-no-image__left--light {
	background-color: #f2f2f2;
}