<div class="fifty-fifty-no-image">
	<div class="fifty-fifty-no-image__left fifty-fifty-no-image__left--{{ item.fifty_fifty_no_image_background_color_left }}">
		<div class="fifty-fifty-no-image__title">
			<h2>{{ item.fifty_fifty_no_image_title_left }}</h2>
		</div>
		<div class="fifty-fifty-no-image__content">
			{{ item.fifty_fifty_no_image_content_left }}
		</div>
       {% set link = item.fifty_fifty_no_image_button_left %}
        <!-- if there is a button here -->
        {% if link %}
        	<a href="{{ link['url']}} " target="{{ link['target'] }}" class="button">{{ link['title'] }}</a>
		{% endif %}
	</div>
	<div class="fifty-fifty-no-image__right fifty-fifty-no-image__right--{{ item.fifty_fifty_no_image_background_color_right }}">
		<div class="fifty-fifty-no-image__title">
			<h2>{{ item.fifty_fifty_no_image_title_right }}</h2>
		</div>
		<div class="fifty-fifty-no-image__content">
			{{ item.fifty_fifty_no_image_content_right }}
		</div>
        {% set link = item.fifty_fifty_no_image_button_right %}
        <!-- if there is a button here -->
        {% if link %}
        	<a href="{{ link['url']}} " target="{{ link['target'] }}" class="button">{{ link['title'] }}</a>
		{% endif %}
	</div>
</div>