.page.subscribe {
  .article {
    text-align: center;
  }
}

.subscribe__badges {
    a {
      display: inline-block;
      padding-bottom: 5px;
      @media (min-width: $bp-hide-mobile-menu) {
        display: block;

      }
    }
}

.subscribe__title {
  font-family: $base-font-family;
  margin-bottom: 5px;
  text-transform: uppercase;
  font-size: .8rem;
}

.link--repeater {
  .single-podcast & {
    color: white;
    font-weight: 400;
    font-size: 14px;
  }
}
