<!-- Provided by @components/subscribe/subscribe.twig -->
<div class="subscribe">
  {% if options.global_podcast_links_label %}
    <h3 class="subscribe__title">{{ options.global_podcast_links_label }}</h3>
    <div class="subscribe__badges">
      <a href="https://podcasts.apple.com/us/podcast/soul-focus-fm-podcasts/id1492935311?mt=2&app=podcast" target="_blank" class="link--subscribe"><img src="{{theme.link}}/images/podcast--apple.svg" alt="Subscribe to Soul Focus Podcast via Apple Podcasts"></a>
      <!-- <a href="https://open.spotify.com/show/57YaflO2KlfVuoSzw2RBB5" target="_blank" class="link--subscribe"><img src="{{theme.link}}/images/podcast--spotify.svg" alt="Subscribe to Soul Focus Podcast via Spotify"></a> -->
      <a href="https://www.google.com/podcasts?feed=aHR0cHM6Ly9zb3VsZm9jdXMuZm0vcG9kY2FzdC9mZWVkL3NmZm1wb2RjYXN0cy8" target="_blank" class="link--subscribe"><img src="{{theme.link}}/images/podcast--google.svg" alt="Subscribe to Soul Focus Podcast via Google Podcasts"></a>
    </div>
    <div class="subscribe__repeater">
      {% for item in options.global_homepage_repeater_links %}
        <a href="{{ item.link.url }}" class="link--subscribe link--repeater" target="{{ item.link.target }}">{{ item.link.title }}</a>
      {% endfor %}
    </div>
  </div>
{% endif %}
