.l-homepage {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: 1fr;
  grid-template-areas:  "hero"
                        "playlists"
                        "events"
                        "cuerators"
                        "content"
                        "genres";
  @media (min-width: 900px) {
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:  "hero hero playlists"
                          "content content events"
                          "content content events";
  }

  div[class*="l-homepage__"] {
    margin: 1rem;
    @media (min-width: $bp-hide-mobile-menu) {
      margin: 0;
    }
  }
  div.l-homepage__hero {
    margin: 0;
  }
}

.l-homepage__hero {
  max-width: 100vw;
  grid-area: hero;
  margin: 0;
  .hero-content, .hero-form {
    margin: 1rem;
  }
  .hero-content {
    border-bottom: 1px dotted #ccc;
  }

}

.l-homepage__playlists {
  grid-area: playlists;
  .section--events {
    margin: 2rem 0;
    @media (min-width: $bp-hide-mobile-menu) {
      margin: 0;
    }
  }
}

.l-homepage__events {
  grid-area: events;
}

.l-homepage__content {
  @include layout-constrain;
  grid-area: content;
}

.l-homepage__genres {
  grid-area: genres;
}

.l-homepage__cuerators {
  grid-area: cuerators;
}
