.icon {
  &:hover,
  &:focus {
    transform: scale(1.2);
  }
}

.icon--facebook {
  @include svg-background(icon--facebook2);
  @include image-replace(32px,32px);
}
.icon--twitter {
  @include svg-background(icon--twitter);
  @include image-replace(32px,32px);
}
.icon--instagram {
  @include svg-background(icon--instagram);
  @include image-replace(32px,32px);
}
.icon--mixcloud {
  @include svg-background(icon--mixcloud);
  @include image-replace(32px,32px);
}
.icon--youtube {
  @include svg-background(icon--youtube);
  @include image-replace(32px,32px);
}

.icon--soundcloud {
  @include svg-background(icon--soundcloud);
  @include image-replace(32px,32px);
}

.icon--spotify {
  @include svg-background(icon--spotify);
  @include image-replace(32px,32px);
}

.icon--mail {
  @include svg-background(icon--envelop);
  @include image-replace(32px,32px);
}
