.section {
}

.section__title {
  margin: rem(10px) 0;
}
.section__list {
  list-style-type: none;
  padding: 0;
  margin:0;
}

.section__author-meta {
  font-size: .85rem;
}
.section__thumbnail {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  grid-area: image;
  min-height: 100px;

}
.section__item-title {
  grid-area: title;
  a {
    text-decoration: none;
  }
}
.section__date {
  grid-area: date;
}
.section__author-meta {
  grid-area: author;
}
.section__moods {
  grid-area: mood;
}
.section__description {
  grid-area: description;
}
.section__artist {
  grid-area: artist;
}
.section__venue {
  grid-area: venue;
}
.section__event-link {
  grid-area: elinks;
}

// Playlist Items
.section__list-item--playlist {
  display: grid;
  grid-template-columns: minmax(150px, 1fr)  1fr 1fr;
  grid-template-areas: "image title title"
                       "image date date"
                       "image author author"
                       "image mood mood";
  .section__item-title {
    margin: 0;
  }
  .section__moods {
    font-size: .5rem;
  }
  .section__thumbnail {
    margin-right: 1rem;
  }
}

.section__list-item--events {
  h6 {
    // border-bottom: 1px dotted get-color(red, 0);
    text-decoration: underline;
    text-decoration-color: get-color(red, 0);
    text-decoration-style: dotted;
    font-weight: 700;
    margin: 20px 0px;
  }
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas: "image image"
                        "title title"
                        "venue date"
                        "description description"
                        "elinks artist";
  @media (min-width: $bp-hide-mobile-menu) {
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: "image image image"
                         "title title title"
                         "venue venue date"
                         "description description elinks"
                         "description description artist";
  }
  .section__item-title {
    @extend h3;
    background-color: get-color(red, 0);
    border: 1px solid get-color(red, 0);
    color: get-color(white, 0);
    display: block;
    padding: 5px;
    text-decoration: none;
    &:hover,
    &:focus {
      background-color: get-color(white, 0);
      color: get-color(red, 0);
    }
  }
  .section__thumbnail {
    min-height: 250px;
    background-position: top center;
  }
  .section__venue {
    margin-right: rem(10px);
  }
}
