// @file
// Component: form

.form {}
.form--mc {
  padding: 2rem;
  border-radius: 6px;
  background-color: get-color(grey, 4);
  div {
    // display: inline-block;
  }
  .form__title {

  }
  .form__input {

    margin: 10px 0 20px 0;
    input {
      min-width: 100%;
      @media (min-width: $bp-hide-mobile-menu) {
        min-width: 400px;
      }
    }
  }
  .form__button {}
}

.mc4wp-form {
  color: get-color(white, 0);
  font-family: $header-font-family;
  max-width: 450px;
  input[type="email"]{
    padding: 10px;
    margin-bottom: 10px;
    min-width: 250px;
    width: 100%;
  }
  input[type="submit"]{
    color: get-color(white, 0);
    background-color: get-color(grey, 4);
    min-width: 250px;
    padding: 10px;
    width: 100%;
    &:hover,
    &:focus {
      background-color: get-color(grey, 3);
    }
  }


}
