// @file
// Heading styles.

%hN {
  @extend %header-font-family;
  color: inherit;
  font-weight: 700;
  hyphens: none;
  line-height: 1.3;
  margin: 0 0 rem($vertical-spacing);
  text-rendering: optimizeLegibility;

  @media print {
    & {
      orphans: 3;
      page-break-after: avoid;
      widows: 3;

      &::after {
        display: inline-block;
      }
    }
  }

  // Add top margin when headers are preceded by other elements (p, ul, etc.)
  * + & {
    margin-top: 1em;
  }
}

h1,
%h1 {
  @extend %hN;
  font-size: em($font-size-h1);
  margin-bottom: 0.5em;
}

h2,
%h2 {
  @extend %hN;
  font-size: em($font-size-h2);
}

h3,
%h3 {
  @extend %hN;
  font-size: em($font-size-h3);
}

h4,
%h4 {
  @extend %hN;
  font-size: em($font-size-h4);
}

h5,
%h5 {
  @extend %hN;
  font-size: em($font-size-h5);
}

h6,
%h6 {
  @extend %hN;
  font-size: em($font-size-h6);
  font-weight: 400;
  text-transform: uppercase;
}

h1, h2, h3, h4, h5, h6 {
  // Remove top margin for adjacent subheadings.
  & + & {
    margin-top: 0;
  }
}
