// @file
// Color variables
// http://sass-lang.com/docs/yardoc/file.SASS_REFERENCE.html#variables_

$colors: (
  black: (
    0: #000,
  ),
  red: (
    0: #F92219,
  ),
  orange: (
    0: #FF7A1F,
  ),
  yellow: (
    0: #FFBA08,
  ),
  brown: (
    0: #E2D4B7,
  ),
  blue: (
    0: #3498DB,
  ),
  green: (
    0: #67B22F,
  ),
  grey: (
    0: #f4f4f4,
    1: #ccc,
    2: #555,
    3: #666,
    4: #979797,
  ),
  white: (
    0: #fff,
  ),
);

@function get-color($color, $value: 0) {
  @return map-get(map-get($colors, $color), $value);
}


$color-body: get-color(white,0);
$color-gradient-dark: rgba(0, 0, 0, 0.1);
$color-gradient-light: rgba(255, 255, 255, 0.1);
$color-link: get-color(red, 0);
$color-link-hover: get-color(red, 0);
$color-link-visited: #4c2c92;
$color-selection-background: #dce4ef;
$color-selection-foreground: #212121;
$color-text-primary: get-color(grey ,2);
$color-text-secondary: #5b616b;
