.image-block {
  padding: 4rem 0;
	.image-block__title {
		font-size: $font-size-xl;
		letter-spacing: 0.9px;
		color: get-color(blue);
    @media (min-width: $bp-hide-mobile-menu) {
      font-size: $font-size-xxl;
    }
	}
  img {
    width: 100%;
  }
}
