<div class="image-block">
	<div class="l-constrain">
		<div class="image-block__title">{{item.image_block_title}}</div>
		<div class="image-block__image">
			<img src="{{TimberImage(item.image_block_image).src}}"/>
		</div>
	</div>
</div>