.fp2019 {
  background-color: get-color(red, 0);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  letter-spacing: normal;
  display: grid;
  grid-gap: 0;
  grid-template-areas: "title" "social" "content" "form" "playlists";
  min-height: 100vh;
  max-width: 100vw;
  padding: 1rem;
  position: relative;
  @media (min-width: $bp-hide-mobile-menu) {
    grid-gap: 2rem;
    grid-template-areas:  "title content"
                          "social content" 
                          "playlist playlists";
    padding: rem(100px);
  }

  &:before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(get-color(red, 0),.6);
  }
}

.fp2019__title {
  padding-top: 11px;
  color: get-color(white, 0);
  grid-area: title;
  justify-self: start;
  margin-left: 0;
  z-index: 10;

  h1 {
    line-height: 0.8;
    margin: 0;
    font-size: rem(100px);
    text-align: left;
    @media (min-width: 700px) {
      font-size: rem(70px);
    }
    @media (min-width: 900px) {
      font-size: rem(120px);
    }
  }
  @media (min-width: $bp-hide-mobile-menu) {}
}

.fp2019__menu {
  grid-area: menu;
  display: none;
  z-index: 10;
  @media (min-width: $bp-hide-mobile-menu) {
    display: block;
  }
}

.fp2019__content {
  align-self: flex-start;
  color: get-color(white, 0);
  grid-area: content;
  z-index: 10;
}

.fp2019__social {
  margin: 2rem 0;
  // margin-left: 0;
  z-index: 10;
}

.fp2019__playlists {
  color: get-color(white, 0);
  grid-area: playlists;
  z-index: 10;

  a {
    color: get-color(white, 0);
  }
}

.fp2019__form {
  align-self: top;
  color: get-color(white, 0);
  grid-area: form;
  z-index: 10;
}
