// @file
// Component: tag
.tag  {
  background-color: get-color(red, 0);
  border-radius: 3px;
  color: get-color(white, 0);
  display: inline-block;
  font-family: $header-font-family;
  font-weight: 700;
  margin-bottom: 3px;
  padding: 2px 5px;
  text-decoration: none;
  white-space: nowrap;
  &:focus,
  &:hover {
    background-color: get-color(white, 0);
    color: get-color(red, 0);
  }
}

.tag--small {
  font-size: .85em;
}

.tag--link {
  background-color: get-color(red, 0);
  color: get-color(white, 0);
  font-family: $base-font-family;
  font-size: $font-size-sm;
  margin-right: 00px;
  width: 100%;
  @media (min-width: $bp-hide-mobile-menu) {
    margin-right: 10px;
  }
  &:focus,
  &:hover {
    background-color: get-color(blue, 0);
    color: get-color(brown, 0);
  }
  a {
    color: get-color(grey, 0);
    display: block;
    padding: 10px;
    &:focus,
    &:hover {
      color: get-color(white, 0);
    }
  }

}
