.l-fifty-fifty {
    display: flex;
    flex-direction: column;
    @media (min-width: $bp-medium) {
        flex-direction: row;
    }
    .button {
        min-width: 200px;
        letter-spacing: 1px;
    }
}
.l-fifty-fifty--right {
    flex-direction: column;
    @media (min-width: $bp-medium) {
        flex-direction: row-reverse;
    }
    .fifty-fifty__col--image {
        margin: 0 auto;
        @media (min-width: $bp-medium) {
            padding-left:60px;
        }
        img {
            @media (min-width: $bp-medium) {
                float:left;
                max-width: 591px;
            }
        }
    }
}

.fifty-fifty__title {
    color: get-color(grey, 3);
    max-width: calc( (#{$max-page-width} * .5) - 1rem );
    line-height:1.17;
    font-weight: 600;
    margin-bottom: 10px;
    font-size: 22px;
    letter-spacing: 0.7px;
    @media (min-width: $bp-hide-mobile-menu) {
        font-size: $font-size-xl;
        margin-bottom:20px;
        letter-spacing:1.1px;
    }
}

.fifty-fifty__content {
    color: get-color(grey, 2);
    max-width: calc( (#{$max-page-width} * .5) - 1rem );
    line-height: 28px;
    letter-spacing: 0.3px;
    font-size:$font-size-sm;
    margin-bottom:20px;
    @media (min-width: $bp-hide-mobile-menu) {
        margin-bottom:60px;
    }
    ul {
        li {
            list-style: disc;
        }
    }
}


.l-fifty-fifty--left {
    .fifty-fifty__col--image {
        img {
            @media (min-width: $bp-medium) {
                padding-left:130px;
            }
        }
    }
}

.fifty-fifty__col--image {
    img {
        display:none;
        @media (min-width: $bp-hide-mobile-menu) {
            display:block;
        }
    }
    .fifty-fifty__col--image-first {
        display:block;
    }
}

.l-fifty-fifty__col {
    flex-basis: 50%;
    &.l-fifty-fifty__col--full {
        flex-basis: 100%;
    }
}

.fifty-fifty {
    padding:15px;
    @media (min-width: $bp-hide-mobile-menu) {
        padding: 45px 0px 0px 0px;
    }
}

.fifty-fifty.fifty-fifty__map {
    @media (min-width: $bp-hide-mobile-menu) {
        padding: 0px 0px 0px 0px;
    }
}

.fifty-fifty--dark {
    background-color: get-color(grey, 1);
}

// TEXT CONTENT
.fifty-fifty__col--content {
    p {
        margin-bottom: 1rem;
    }
}

.fifty-fifty__text-constrain {
    padding-top: 30px;
    @media (min-width: $bp-hide-mobile-menu) {
        padding-top: 0px;
    }
}

.l-fifty-fifty--left .fifty-fifty__text-constrain {
    @media (min-width: $bp-medium) {
        margin-right: 130px;
    }
}

.l-fifty-fifty--right .fifty-fifty__text-constrain {
    @media (min-width: $bp-medium) {
        margin-left: 130px;
    }
}

// IF IMAGE IS ON LEFT
.l-fifty-fifty--left .fifty-fifty__col--content {
    padding: 1rem;
    @media (min-width: $bp-medium) {
        padding: 0 1rem;
        padding-left: 4rem;
    }
}

// IF IMAGE IS ON RIGHT
.l-fifty-fifty--right .fifty-fifty__col--content {
    padding: .5rem 40px 2rem 40px;
    @media (min-width: $bp-medium) {
        padding: 2rem 1rem 1rem 0rem;
    }
}

// IF DARK OR LIGHT (IMAGE WITH TITLE/BUTTON) CENTER CONTENT
.l-fifty-fifty--left, .l-fifty-fifty--right {
    .fifty-fifty__col--light, .fifty-fifty__col--dark {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        .fifty-fifty__content {
            display: none;
        }
        .fifty-fifty__title, .fifty-fifty__content, .button {
            margin: 0 auto;
            text-align: center;
        }
        .fifty-fifty__title {
        }
    }
}

.fifty-fifty.fifty-fifty--has-content {
    .l-fifty-fifty--left, .l-fifty-fifty--right {
        .fifty-fifty__col--light, .fifty-fifty__col--dark {
            .fifty-fifty__content {
                display: block;
            }
            .fifty-fifty__title, .fifty-fifty__content, .button {
                margin: 0;
                text-align: left;
            }
            .fifty-fifty__title {
                text-align: left;
                margin: 0;
            }
        }
    }
}

// button

.fifty-fifty__col {
    .button {
        display: table;
    }
}

.fifty-fifty__map {
    .l-fifty-fifty--right {
        .fifty-fifty__col--image {
            img {
                @media (min-width: $bp-medium) {
                    float: none;
                    max-width: none;
                    width: 100%;
                }
            }
        }
    }
}
