<!-- Provided by 'templates/components/fifty-fifty.twig' -->
<div class="fifty-fifty {% if item.fifty_fifty_content %}fifty-fifty--has-content{% endif %} fifty-fifty--{{ item.fifty_fifty_content_background_color }} {{ item.fifty_fifty_custom_class }}">
  <div class="l-fifty-fifty {% if item.image_on_right_side %}l-fifty-fifty--right{% else %}l-fifty-fifty--left{% endif %}">
    <div class="l-fifty-fifty__col fifty-fifty__col--image">
        <img class="fifty-fifty__col--image-first" src="{{ TimberImage( item.fifty_fifty_image ).src }}" alt="{{ TimberImage( item.fifty_fifty_image ).alt }}"/>
    </div>
    <div class="l-fifty-fifty__col fifty-fifty__col--content">

      {% if (item.fifty_fifty_title and item.fifty_fifty_content) %}
        <div class="fifty-fifty__text-constrain">
      {% endif %}
        <h2 class="fifty-fifty__title">
          {{ item.fifty_fifty_title }}
        </h2>
        <div class="fifty-fifty__content">
          {{ item.fifty_fifty_content }}
        </div>
        {% set link = item.fifty_fifty_button %}
        <!-- if there is a button here -->
        {% if link %}
          <a href="{{ link['url']}} " target="{{ link['target'] }}" class="button">{{ link['title'] }}</a>
        {% endif %}
      {% if item.fifty_fifty_title and item.fifty_fifty_content %}
        </div>
      {% endif %}
    </div>
  </div>
</div>