.banner {
	background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    position: relative;
    min-height: 400px;
    height: 400px;
    .banner-wrapper {
    	position: relative;
		padding-top: 80px;
    	padding-bottom: 80px;
        @media (min-width: $bp-hide-mobile-menu) {
    	   display: flex;
        }
    }
    .banner__item {
        margin-bottom: 50px;
        .banner__item-title {
            font-size: $font-size-lg;
            color: #7fe9fa;
            letter-spacing: 0.3px;
            margin-bottom: 10px;
        }
        .banner__item-content {
            font-size: $font-size-sm;
            color: #fff;
            line-height: 1.75;
            letter-spacing: 0.2px;
        }
    }
    .banner-left {
        @media (min-width: $bp-hide-mobile-menu) {
    	   width: 43%;
           margin-right: 12%;
        }
    }
    .banner-right {
        @media (min-width: $bp-hide-mobile-menu) {
    	   width: 45%
        }
    	blockquote {
    		color: #7fe9fa;
    		font-size: $font-size-lg;
            border-left: 10px solid #7fe9fa;
            padding-left: 40px;
            @media (min-width: $bp-hide-mobile-menu) {

            }
            @media (min-width: $bp-xlarge) {
                font-size: $font-size-lg;
            }
            @media (min-width: $bp-super) {
                font-size: $font-size-xl;
            }
    	}
    }
}
.banner:before {
  content: "";
  position: absolute;
  left: 0; right: 0;
  top: 0; bottom: 0;
  background: rgba(35, 39, 103, 0.82);
}
