<div class="banner" style="background-image: url('{{ TimberImage( item.banner_image ).src }}');">
	<div class="l-constrain">
		<div class="banner-wrapper">
			<div class="banner-left">
				{% for content in item.banner_content_left %}
					<div class="banner__item">
						<div class="banner__item-title">
							{{content.banner_content_left_title}}
						</div>
						<div class="banner__item-content">
							{{content.banner_content_left_content}}
						</div>
					</div>
				{% endfor %}
			</div>
			<div class="banner-right">
				<blockquote>{{item.banner_content_right}}</blockquote>
			</div>
		</div>
	</div>
</div>