// @file
// Component: podcast

.l-podcast {
  // align-items: stretch;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:  "sidebar"
                        "main";
  margin-left: 2rem;
  @media (min-width: $bp-hide-mobile-menu) {
    grid-template-areas: "main sidebar";
    grid-template-columns: 2fr 1fr;
    // margin-left: 0;
  }
  // width: 100%;
  .l-podcast__main {
    grid-area: main;
    margin: 2rem 0 0 0;
    @media (min-width: $bp-hide-mobile-menu) {
      margin: 0 2rem 0 0;
    }
  }
  .l-podcast__sidebar {
    grid-area: sidebar;
    max-width: 100%;
    justify-content: center;
    @media (min-width: $bp-hide-mobile-menu) {
      max-width: 400px;
      justify-content: flex-start;
    }
  }
}

.podcast {
  padding: 2rem 0;
  min-height: 100px;
  @media (min-width: $bp-hide-mobile-menu) {
    min-height: calc(100vh - 150px);
  }
  .hero__content {
    padding: 2rem 3rem 2rem 4rem;
    @media (min-width: $bp-hide-mobile-menu) {
      padding: 2rem 3rem 2rem 6rem;
    }
  }
}

.podcast__cover {
  background-repeat: no-repeat;
  background-size: cover;
  border: 1px #333 solid;
  box-shadow: 10px 12px 5px #888;
  height: 400px;
  margin: 0 auto;
  width: 400px;
  // padding: 4px;
  @media (min-width: $bp-hide-mobile-menu) {
    height: 350px;
    width: 350px;
    margin: 0;
  }
}

.podcast__curators {
  margin: rem(10px) auto;
  @media (min-width: $bp-hide-mobile-menu) {
    margin: 2rem auto;

  }
}
.podcast__affiliations {
  font-style: italic;
  font-size: .8rem;
}


.podcast__meta {
  text-align: center;
  @media (min-width: $bp-hide-mobile-menu) {
    text-align: left;
  }
}

.podcast__title {
  font-size: 2rem;
}
.podcast__content {
  margin: 0 auto;
  @media (min-width: $bp-hide-mobile-menu) {
  }
  p:first-of-type {
    height: 0;
    margin: 0;
  }
}

.podcast__meta-title {
  font-family: $header-font-family;
  padding: 1rem 0;
  text-transform: uppercase;
  text-align: center;
  @media (min-width: $bp-hide-mobile-menu) {
    text-align: left;
  }
}

.powerpress_subscribe_links {
  border: 1px solid #333;
  background-color: #eee;
  margin: 10px 0;
  text-transform: uppercase;
  padding: 10px;
  font-size: 12px;
  font-weight: 700;
}
