.l-event {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: 1fr;
  grid-template-areas:  "top"
                        "image"
                        "right"
                        "left"
                        "bottom";
  @media (min-width: 800px) {
    grid-template-columns: 25% 25% 1fr;
    grid-template-areas:  "top top top"
                          "left right image"
                          "left right image"
                          "bottom bottom bottom";
  }
}

.l-event__top {
  grid-area: top;
}
.l-event__left {
  grid-area: left;
}
.l-event__right {
  grid-area: right;
}
.l-event__bottom {
  grid-area: bottom;
}
.l-event__image {
  grid-area: image;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 300px;
}

.page--events .event-title {
  margin: 1rem 0;
}
