.page--playlist {
  color: $color-text-primary;
  // color: get-color(red, 0);
  display: flex;
  flex-flow: row wrap;
  flex-direction: column;
  min-height: 100vh;
  justify-content: flex-start;
  @media (min-width: $bp-hide-mobile-menu) {
    flex-direction: row;
  }
  .page__sidebar {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-flow: column wrap;
    order: -1;
    text-align: center;
    // background-color: get-color(red, 0);
    min-height: 300px;
    padding: 2rem 1rem;
    @media (min-width: $bp-hide-mobile-menu) {
      justify-content: flex-start;
      flex: 1 0 250px;
      padding: 2rem 1rem 1rem 1rem;
      // order: 1;
      // text-align: right;
      & > div {
        margin-bottom: rem(12px);
      }
    }

    img {
      width: 200px;
    }
    a {
      color: $color-text-primary;
    }

    .facet__header {
      background-color: get-color(grey, 2);
      color: white;
      line-height: 1;
      padding: 10px;
      font-size: 14px;
      text-transform: uppercase;
      text-align: left;
      font-weight: 700;
      &:after {
        content: "\25BC"; //down arrow
        line-height: 1;
        float: right;
      }
      &.is-up {
        &:after {
          content: "\25B2"; //up arrow
          line-height: 1;
          float: right;
        }
      }
      &:hover,
      &:focus {
        background-color: get-color(yellow, 0);
      }
    }

    .facet__window {
      border-bottom: 1px solid #ccc;
      border-left: 1px solid #ccc;
      border-right: 1px solid #ccc;
      text-align: left;
      padding: 10px;
      overflow: hidden;
      height: 0;
      visibility: hidden;
      opacity: 0;
      transition: visibility 0.33s linear 0.33s, opacity 0.33s linear;
      @media (min-width: $bp-hide-mobile-menu) {
        // opacity: 1;
        // height: auto;
        // visibility: visible;
      }
      &.is-open {
        visibility: visible;
        opacity: 1;
        height: auto;
      }

    }

    .facet__title {
      border-bottom: 1px solid #666;
      display: block;
      text-transform: uppercase;
      font-size: $font-size-sm;
      &:first-of-type {
        padding-top: .5rem;
      }
    }

    .facetwp-checkbox {
    }

    .facetwp-facet {
      font-size: rem(12px);
      margin-bottom: 1rem;
      margin-top: rem(5px);
    }

    .facetwp-toggle {
      color: get-color(red, 0);
      font-size: .6rem;
      text-transform: uppercase;
      text-decoration: underline;
    }

    .facet-reset {
      @include button;
      font-family: $base-font-family;
      text-transform: uppercase;
      font-size: .6rem;
      // letter-spacing: 1px;
    }

  }
  .page__logo {
    // padding-bottom: 1rem;
    background-color: get-color(red, 0);
    @media (min-width: $bp-hide-mobile-menu) {
      background-color: get-color(white, 0);
    }
  }
  .post-edit-link {
    color: black;
  }
  .page__social {
    .social-menu {
      display: flex;
      flex-direction: row wrap;
      justify-content: center;
      float: none;
      padding: 1rem 0;
      margin: 0;
    }
    .social-menu__a {
      margin-right: 10px;
    }
  }
  .page__menu {
    // padding-bottom: 2rem;
    .menu {
      display: flex;
      flex-flow: column nowrap;
      justify-content: flex-start;
    }
    .menu__link {
      color: #666;
      text-decoration: underline;
      &:hover,
      &:focus {
        color: get-color(yellow, 0);
      }
    }
  }

  .page__content {
    font-weight: 100;
    font-size: 16px;
    // padding: 0 0 2rem 0;
  }

  .page__grid {
    $mobile-grid-item-square: 375px;
    $grid-item-square: 325px;

    display: grid;
    // height: 100vh;
    grid-gap: 10px;
    padding: 30px;
    grid-template-columns: repeat(auto-fill, $mobile-grid-item-square);
    grid-template-rows: repeat(auto-fill, $mobile-grid-item-square);
    justify-content: space-around;
    @media (min-width: $bp-hide-mobile-menu) {
      flex: 1 0 75%;
      grid-template-columns: repeat(auto-fill, $grid-item-square);
      grid-template-rows: repeat(auto-fill, $grid-item-square);
    }

    .grid-item {
      align-content: center;
      align-items: center;
      background-color: rgba(get-color(grey, 1), 1);
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;
      // border-radius: 5px;
      // border: 1px solid #333;
      display: flex;
      justify-content: center;
      height: $mobile-grid-item-square;
      width: $mobile-grid-item-square;
      // min-height: 300px;
      text-decoration: none;
      margin-bottom: 1rem;
      // margin-bottom: 1rem;
      @media (min-width: $bp-hide-mobile-menu) {
        height: $grid-item-square;
        width: $grid-item-square;
        margin-bottom: 0;
      }
      &:hover,
      &:focus {
        .grid__meta {
          background-color: rgba(white, .7);
          display: block;
          font-weight: 700;
          padding: 20px;
        }
      }
    }
    .grid__meta {
      font-family: $base-font-family;
      display: none;
      text-align: center;
      .grid-item__title {
        font-family: $base-font-family;
        text-transform: uppercase;
        margin: 0;
      }
      .grid-item__date {
        margin: 0;
      }
    }

    .grid-item--event {
      background-color: get-color(yellow, 0);
      background-size: cover;
      background-repeat: no-repeat;
      color: get-color(grey, 2);
      padding: 1rem;
      position: relative;
      &:hover,
      &:focus {
        // border: 1px get-color(white, 0) solid;
        // background-color: get-color(red, 0);
        color: get-color(red, 0);
      }
      .grid-item__category {
        font-family: $base-font-family;
      }
    }
  }
  .page__subscriber {
    display: flex;
    flex-flow: column wrap;
    padding: 1rem 0;
    .link--subscribe {
      font-weight: 100;
      font-size: $font-size-xs;
      padding-bottom: 5px;
    }
    h3 {
      font-size: 18px;
      font-family: $base-font-family;
      margin-bottom: 5px;
      // text-transform: uppercase;
    }
  }
  .page__pagination {
  }
  .page__logo {

  }
}
