.page--links {
  padding: 1rem 0;
  .page__logo {
    margin: 0 auto;
    text-align: center;
    padding-bottom: 1rem;
  }
  .page__header {

  }
  .page__repeater {
    .link--repeater {
      border: 1px solid get-color(grey, 2);
      border-radius: 5px;
      text-align: center;
      max-width: 75%;
      margin: 5px auto 1rem auto;
      @media (min-width: $bp-hide-mobile-menu) {
        max-width: 65%;
      }
    }
    a {
      color: get-color(grey, 2);
      display: block;
      font-family: $base-font-family;
      padding: 1rem;
      text-decoration: none;
      text-transform: uppercase;
      &:hover,
      &:focus {
        background-color: get-color(red, 0);
        color: get-color(white, 0);
      }
      @media (min-width: $bp-hide-mobile-menu) {
        padding: 1rem 2rem;
      }
    }
  }
  .page__footer {

    #mce-EMAIL {
      margin-bottom: 1rem;
      text-align: center;
      padding: 1rem 0;
      width: 50%;
    }
  }
}
