.social-menu {
  margin-bottom: 20px;
  text-align: left;
  @media (min-width: $bp-hide-mobile-menu) {
    margin: auto auto 100px;
    float: right;
  }


  .social-menu__a {
    color: get-color(white, 0);
    display: inline-block;
    font-size: 2rem;
    text-decoration: none;
    @media (min-width: $bp-hide-mobile-menu) {
      display: block;
    }
    path {
      fill: get-color(white, 0);
    }
    &:hover,
    &:focus {
      text-decoration: underline;
      transition-duration: 0.25s;
      path {
        fill: get-color(blue, 0);
      }
    }
    .fp2019__social & {
      margin-right: 2rem;
    }
  }

  .fp2019__social & {
    display: flex;
    flex-flow: row wrap;
    float: initial;

  }
}
