<div class="social-menu">
  <a href="https://www.facebook.com/cuerators/" class="social-menu__a st-custom-button social-menu__facebook" target="_blank">
    <i class="fab fa-facebook"></i>
  </a>
  <a href="https://twitter.com/cuerators/" class="social-menu__a st-custom-button social-menu__twitter" target="_blank">
    <i class="fab fa-twitter"></i>
  </a>
  <a href="https://instagram.com/soulfocusfm/" class="social-menu__a st-custom-button social-menu__instagram" target="_blank">
    <i class="fab fa-instagram"></i>
  </a>
  <a href="mailto:info@soulfocus.fm" class="social-menu__a st-custom-button social-menu__email" target="_blank">
    <i class="fas fa-envelope"></i>
  </a>
</div>
