<div class="social-menu">
  {% for item in options.global_social_media %}
    <a class="social-menu__a st-custom-button icon {{item.class}}" href="{{ item.link.url }}" target="{{ item.link.target }}">{{ item.link.title }}</a>
  {% endfor %}
</div>
