//@file
// Transparent Image overlay
@mixin solid-overlay($hexcolor: #000000, $alpha: .8) {
    &:before { // CSS Color Overlay
    background: rgba($hexcolor, $alpha);
    background-size: cover;
    content: " ";
    display: block;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    z-index: -1;
  }
}
