<div class="page-builder">
      {% for item in post.get_field('components') %}
        {% include '@components/' ~ item.acf_fc_layout|replace({'_': '-'}) ~'/' ~ item.acf_fc_layout|replace({'_': '-'}) ~ '.twig' %}
      {% endfor %}
</div>