// @file
// Fonts

// @font-face declarations go here.
@font-face {
    font-family: 'goudy_heavyfaceregular';
    src: url('../fonts/goudyheavyface-webfont.woff2') format('woff2'),
         url('../fonts/goudyheavyface-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
