// @file
// Styles for hero using a background image.

.header-hero {
  background-position: 50% 50%;
  background-size: cover;
  color: #fff;
  padding: 4em 1em;
  text-align: center;
  background-repeat: no-repeat;
  min-height: 500px;

  &.has-overlay {
    position: relative;

    &:after {
      background: rgba(0, 0, 0, 0.5);
      bottom: 0;
      content: '';
      left: 0;
      position: absolute;
      right: 0;
      top: 0;
      z-index: 1;
    }

    .header-hero__content {
      position: relative;
      z-index: 2;
    }
  }
}

.header-hero__title {
  margin-bottom: 0.25em;
}

.header-hero__subtitle {}
