<div class="header-hero" style="background-image:url('{{ TimberImage( item.hero_image ).src }}');">
  <div class="l-constrain">
    <div class="header-hero__inner" >
      <div class="header-hero__body">
        {% if item.hero_title %}
          <h1 class="header-hero__title">{{ item.hero_title }}</h1>
        {% endif %}
        {% if item.hero_content %}
          <div class="header-hero__text">{{ item.hero_content }}</div>
        {% endif %}
      </div>
    </div>
    <div class="header-hero__actions">
      {% include '@components/social-share/social-share.twig' %}
    </div>
  </div>
</div>
