.fifty-fifty-card {
	@media (min-width: $bp-medium) {
		display: flex;
		flex-wrap: wrap;
	}
	background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
	.fifty-fifty-card__background-image {

	}
	.l-fifty-fifty__col {
		padding:50px 0px;
		@media (min-width: $bp-medium) {
			padding: 130px;
    		width: 50%;
		}
		@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
			flex-basis: 40%;
		}
		.fifty-fifty-card__content {
			background-color: get-color(grey, 1);
			padding:30px;
			margin: 0px 30px;
			font-size: $font-size-lg;
    		font-weight: 600;
    		letter-spacing: 2px;
    		@media (min-width: $bp-hide-mobile-menu) {
    			margin: 0px 60px;
    		}
			@media (min-width: $bp-medium) {
				display:flex;
				flex-direction:column;
				margin: 0px 30px;
				padding:50px;
				margin:0px;
			}
			.fifty-fifty-card__title {
				text-transform:capitalize;
				margin-bottom:10px;
				color: get-color(grey, 3);
				font-size: 22px;
        font-family: $header-font-family;
				letter-spacing: 0.6px;
				font-weight: 600;
				@media (min-width: $bp-hide-mobile-menu) {
					font-size: $font-size-lg;
				}
			}
			.fifty-fifty-card__text {
				font-size:$font-size-sm;
				color: get-color(grey, 3);
				line-height:1.5;
				margin-bottom:40px;
				font-size: $font-size-sm;
				font-weight: 100;
				line-height: 28px;
				p {
					font-size: $font-size-sm;
				}
				@media (min-width: $bp-hide-mobile-menu) {
					font-size:$font-size-lg;
				}
				.event-content {
					font-size: $font-size-sm;
					padding-top: 20px;
				}
				.contact-info {
					font-size:$font-size-sm;
					margin-top:20px;
					line-height: 1.44;
					a {
						color:#0095a2;
						text-decoration:none;
					}
				}
			}
			.fifty-fifty-card__link {
				letter-spacing: 1px;
			}
		}
	}
	.button {
		border:none;
		background-color: get-color(green, 0);
		color:#fff;
		&:hover {
		}
	}
	.l-fifty-fifty__col-left {
		@media (min-width: $bp-medium) {
			padding-right:23px;
		}
	}
	.l-fifty-fifty__col-right {
		@media (min-width: $bp-medium) {
			padding-left:23px;
		}
		.fifty-fifty-card__content {
			background-color: #184f7f;
			color: #fff;
			.fifty-fifty-card__title {
				color: #fff;
			}
			.fifty-fifty-card__text {
				color: #fff;
				p {
					color:#fff;
				}
			}
		}
	}
}
