<div class="fifty-fifty-card" style="background-image: url('{{ TimberImage( item.fifty_fifty_card_background_image ).src }}')">
	<div class="l-fifty-fifty__col l-fifty-fifty__col-left">
		<div class="fifty-fifty-card__content">
			<div class="fifty-fifty-card__title">{{item.fifty_fifty_card_left_title}}</div>
			<div class="fifty-fifty-card__text">{{item.fifty_fifty_card_left_content}}</div>
			{% set link = item.fifty_fifty_card_left_button %}
	        <!-- if there is a button here -->
	        {% if link %}
	        	<div class="fifty-fifty-card__link">
	          		<a href="{{ link['url']}} " target="{{ link['target'] }}" class="button fifty-fifty-card__button">{{ link['title'] }}</a>
	          	</div>
	        {% endif %}
	    </div>
	</div>
	<div class="l-fifty-fifty__col l-fifty-fifty__col-right">
		<div class="fifty-fifty-card__content">
			<div class="fifty-fifty-card__title">{{item.fifty_fifty_card_right_title}}</div>
			<div class="fifty-fifty-card__text">{{item.fifty_fifty_card_right_content}}</div>
			{% set link = item.fifty_fifty_card_right_button %}
	        <!-- if there is a button here -->
	        {% if link %}
	        	<div class="fifty-fifty-card__link">
	          		<a href="{{ link['url']}} " target="{{ link['target'] }}" class="button fifty-fifty-card__button">{{ link['title'] }}</a>
	          	</div>
	        {% endif %}
	    </div>
	</div>
</div>