.hero-slider {
  position: relative;

  .hero-slide {
    visibility: hidden;

    &:first-child {
      visibility: visible;
    }

    .hero-slider__image {
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      min-height: 500px;

      &:before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-image: linear-gradient(to bottom, rgba(0,0,0,.4), rgba(0,0,0,.2));
      }
      @media (min-width: $bp-hide-mobile-menu) {
        padding: 250px 0;
      }
    }

    .hero-slider__image-3 {
      .hero-slide__content {
        .hero-slide__title {}

        .hero-slide__subtitle {}
      }
    }

    .l-constrain {
      position: relative;
      @media (min-width: $bp-hide-mobile-menu) {
        padding: 0 70px;
      }
      @media (min-width: $bp-medium) {
        padding: 0 130px;
      }
    }
    .hero-slide__link {
      text-decoration: none;
    }
    .hero-slide__content {
      max-width: 666px;
      padding: 60px 0 0;
      @media (min-width: $bp-hide-mobile-menu) {
        padding: 0;
      }

      .hero-slide__title {
        font-size: $font-size-xl;
        color: $color-body;
        line-height: 1.2;
        letter-spacing: 2px;
        @media (min-width: $bp-hide-mobile-menu) {
          font-size: $font-size-xxl;
          line-height: 1;
        }
      }

      .hero-slide__subtitle {
        letter-spacing: 1.5px;
        font-weight: 300;
        font-size: 31px;
        line-height: 1;
        @media (min-width: $bp-hide-mobile-menu) {
          font-size: $font-size-xl;
        }
        color: $color-body;
      }
    }
  }

  .hero-slide__actions {
    margin-top: 50px;
    width: 100%;
    @media (min-width: $bp-hide-mobile-menu) {
      width: auto;
      top: 45px;
      right: 65px;
      position: absolute;
      margin-top: 0;
    }

    .hero-slide__button {
      text-align: center;
      @media (min-width: $bp-hide-mobile-menu) {
        text-align: left;
      }

      a {
        border-radius: 1px;
        border: none;
        width: 268px;
        @media (min-width: $bp-hide-mobile-menu) {
          width: 190px;
        }

        &:hover {}
      }
    }
  }

  .hero-slider__nav {
    position: absolute;
    bottom: 15%;
    left: 30px;
    @media (min-width: $bp-hide-mobile-menu) {
      bottom: 25%;
      left: 60px;
    }

    .nav-arrow {
      content: "<";
      color: get-color(red,0);
      margin: 9px 5px;
      cursor: pointer;
    }

    .nav-arrow--prev {
      content: ">";
      color: get-color(red,0);
      margin-right: 25px;
    }
  }
}

.hero__slide-container.slick-initialized {
  .hero-slide {
    visibility: visible;
  }
}
