  <!-- Hero Slider -->
<div class="hero-slider">
	<div class="hero__slide-container">
		{% for slide in post.meta('hero_slide')  %}
		  {% include '@components/hero-slider/hero-slide.twig' with {
		    slide_title: slide.hero_slide_headline,
		    slide_subtitle: slide.hero_slide_subtitle,
		    slide_image: TimberImage(slide.hero_slide_image).src,
        slide_link: slide.hero_slide_link
		  } %}
		{% endfor %}
	</div>
	<div class="hero-slider__nav">
		<div class="nav-arrows">

		</div>
	</div>
</div>
