<div class="hero-slide">
  <div class="hero-slider__image hero-slider__image-{{loop.index}}" style="background-image:url({{ TimberImage(slide_image).src }})" role="img" aria-label="{{ TimberImage(slide_image).alt }}">
    <a class="hero-slide__link"{% if slide_link %} href="{{ slide_link }}" target="_blank"{% endif %}>
      <div class="l-constrain">
        <div class="hero-slide__content">
          <h1 class="hero-slide__title">{{slide_title}}</h1>
          <div class="hero-slide__subtitle">{{slide_subtitle}}</div>
          {% if slide_link %}<div class="hero-slide__more">Read More</div>{% endif %}
        </div>
        <div class="hero-slide__actions">
          {% include '@components/social-share/social-share.twig' %}
        </div>
      </div>
    </a>
  </div>
</div>
