// @file
// Component: playlist

.playlist {

}
.playlist--tracks {
}

.playlist__url-builder {
    display: none;
}

.playlist__url {
}

.playlist__controls {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-content: space-around;
  padding: 1rem 0;
  div {
    flex: 0 1 auto;
  }
}

.playlist__tracklist {
}

.playlist__tracklist-title {
  border: 1px solid get-color(red, 0);
  background-color: get-color(red, 0);
  color: get-color(white, 0);
  font-size: .85em;
  font-family: $header-font-family;
  padding: 5px 10px;
  &:focus,
  &:hover {
    background-color: get-color(white, 0);
    color: get-color(red, 0);
  }
}

.playlist__tracklist-list {
  margin-top: 10px;
  &.is-hidden {
    display: none;
  }
}

.playlist__tracklist-item {

}

.playlist__button {
  @include button;
  &.is-hidden {
    display: none;
  }
}

.playlist__track-title {
  color: get-color(grey, 2);
  display: block;
  padding: .25rem;
  .is-playing & {
    color: #fff;
    background-color: get-color(blue, 0);
  }
  &:focus,
  &:hover {
    background-color: get-color(red, 0);
    color: get-color(grey, 0);
  }
}

.playlist__player {
  padding: 2rem 0;
  text-align: center;
}
