.three-card-row {
	@media (min-width: $bp-medium){
		display:flex;
	}
	.three-card-row__card {
		padding: 50px 30px;
		@media (min-width: $bp-hide-mobile-menu) {
			padding:60px 70px;
		}
	}
	.three-card-row__content-wrapper {
		display:flex;
		flex-direction: column;
		align-items:normal;
		height:100%;
	}
	.three-card-row__content {
		margin-bottom:30px;
		font-weight: 400;
		@media (min-width: $bp-medium) {
			margin-bottom:80px;
			font-size: $font-size-sm;
		}
	}
	.three-card-row__title {
		letter-spacing: 0.6px;
		margin-bottom:10px;
		line-height:normal;
		@media (min-width: $bp-hide-mobile-menu) {
			margin-bottom: 60px;
			font-size: $font-size-lg;
		}
	}
	.three-card-row__link {
		margin-top:auto;
		a {
			text-transform: uppercase;
			color: #fff;
			font-size: $font-size-xs;
			padding-bottom: 10px;
			text-decoration: none;
			border-bottom: 2px solid #fff;
			font-weight: 600;
			letter-spacing: 2px;
		}
	}
	.three-card-row--default {
		background-color: get-color(green, 0);
		color: #fff;
	}
	.three-card-row--light {
		background-color: get-color(grey, 1);
		color: get-color(blue);
		.three-card-row__link {
			a {
				color: #184f7f;
				border-bottom: 2px solid #184f7f;
			}
		}
	}
	.three-card-row--dark {
		background-color: get-color(blue, 1);
		.three-card-row__title {
			color: get-color(blue, 0);
		}
		.three-card-row__content {
			color:#fff;
		}
		.three-card-row__link {
			a {
				color: get-color(blue, 0);
				border-bottom: 2px solid get-color(blue, 0);
			}
		}
	}
	.three-card-row__card-bg-image {
		background-repeat: no-repeat;
  		background-size: cover;
  		background-position: center;
  		display:none;
  		@media (min-width: $bp-medium) {
  			display:block;
  		}
	}
	.three-card-row--1 {
		@media (min-width: $bp-medium) {
			width: 30%;
		}
	}
	.three-card-row--2 {
		@media (min-width: $bp-medium) {
			width: 33%;
		}
	}
	.three-card-row--3 {
		@media (min-width: $bp-medium) {
			width: 37%;
		}
	}
}

.three-card-row-first {
	.three-card-row--1 {
		@media (min-width: $bp-medium) {
			width: 37%;
		}
		.three-card-row__content-wrapper {
			@media (min-width: $bp-medium) {
				padding-left:60px;
			}
		}
	}
	.three-card-row--2 {
		@media (min-width: $bp-medium) {
			width: 30%;
		}
	}
	.three-card-row--3 {
		@media (min-width: $bp-medium) {
			width: 33%;
		}
	}
}
.three-card-row--3 {
	.three-card-row__content-wrapper {
		@media (min-width: $bp-medium) {
			padding-right:60px;
		}
	}
}