<div class="three-card-row {% if item.three_card_row_first == 'yes' %}three-card-row-first{% endif %}">
	{% for card in item.three_card_row_cards %}
		{% if card.three_card_row_image %}
			<div class="three-card-row__card three-card-row__card-bg-image three-card-row--{{ loop.index }}" style="background-image:url('{{ TimberImage( card.three_card_row_image ).src }}');">
			</div>
		{% else %}
			<div class="three-card-row__card three-card-row--{{ card.three_card_row_background_color }} three-card-row--{{ loop.index }}">
				<div class="three-card-row__content-wrapper">
					{% if card.three_card_row_title %}
						<div class="three-card-row__title">{{card.three_card_row_title}}</div>
					{% endif %}
					{% if card.three_card_row_content %}
						<div class="three-card-row__content">{{card.three_card_row_content}}</div>
					{% endif %}
					{% set link = card.three_card_row_link %}
					<!-- if there is a button here -->
					{% if link %}
						<div class="three-card-row__link">
		          			<a href="{{ link['url']}} " target="{{ link['target'] }}">{{ link['title'] }}</a>
		          		</div>
		        	{% endif %}
		        </div>
			</div>
		{% endif %}
	{% endfor %}
</div>