<!-- FULLPAGE -->
<!-- Provided by templates/fullpage-slide.twig -->
<div class="fullpage-slide" >

  <!-- MAIN -->
  <div class="fullpage-slide__main" {% if post.thumbnail.src %} style="background-image:url({{ post.thumbnail.src }});" {% endif %} id="fs-main">
    <div class="fullpage-slide__meta">
      <h1 class="fullpage-slide__title">{{ post.title }}</h1>
      <div class="fullpage-slide__content">
        {{ post.content }}
      </div>
    </div>
    <!-- <div class="fullpage-slide__toggle">
      <a href="javascript:void(0)" onclick="openSidebar()" id="btn-open">Toggle Sidebar</a>
    </div> -->
  </div>

  <!-- SIDEBAR -->
  <div class="fullpage-slide__sidebar" id="fs-sidebar">
    <!-- <div class="fullpage-slide__close">
      <a href="javascript:void(0)" onclick="closeSidebar()" id="btn-close">&times;</a>
    </div> -->

    <div class="fullpage-slide__sidebar--staff">
      {% for c in staff %}
        <div class="fullpage-slide__sidebar--cuerator" {% if c.thumbnail.src %} style="background-image:url({{ c.thumbnail.src }}" {% endif %}>
          <div class="fullpage-slide__subtitle">{{ __('Featured Cuerator') }}
            {{ c.title }}</div>
        </div>
      {% endfor %}
    </div>


    <div class="fullpage-slide__sidebar--playlist">
      {% for p in playlists %}
        <a class="fullpage-slide__link" href="playlists/{{p.slug}}" {% if p.thumbnail.src %} style="background-image:url({{ p.thumbnail.src }}" {% endif %}>
          <div class="fullpage-slide__category">{{__('Playlists in Rotation')}}</div>
          <div class="fullpage-slide__subtitle">{{ p.title }}</div>
          <div class="fullpage-slide__play"></div>
        </a>
      {% endfor %}
      <div class="fullpage-slide__next">Next &#9659;</div>
    </div>

    <div class="fullpage-slide__sidebar--genre">
      <div class="fullpage-slide__sidebar-section-title">
        {{ __('Dig these crates') }}
      </div>
      {% for g in genres %}
        <a href="genres/{{g.slug}}" class="tag tag--genre">{{ g.title }}</a>
      {% endfor %}
    </div>
  </div>
</div>
