<div class="hero hero--playlist">
  <div class="hero__content">
    <h1 class="hero__title">{{ post.title }}</h1>
    <div class="hero__sharing">
      {# function('sharing_display') #}
      {{ function('edit_post_link', 'Edit Post', '<span class="edit-link">', '</span>') }}
    </div>

    <div class="hero__meta">
      <div class="hero__cuerator">

        <div class="">
          <div class="hero__author">{{ __('Playlist curated by', 'gesso') }}
            {{ post.author }}
          </div>

          <div class="hero__date">{{ __('Published', 'gesso') }}
            {{ post.date }}
          </div>
        </div>

        {% if author.thumbnail %}
          <div class="hero__author-thumb"><img src="{{ TimberImage(author.thumbnail).src|resize(50,50) }}" alt=""></div>
        {% endif %}

      </div>
    </div>

    <div class="hero__description is-hidden">
      {# post.content #}
    </div>

    {% if post.type == 'podcast' %}
      <div class="hero__podcast-links">
        {% include '@components/subscribe/subscribe.twig' %}
      </div>
    {% endif %}

    <div class="hero__links">

      {% if TimberTerm(playlist_genres) %}
        <div class="hero__genres">
          <span class="hero__label">
            {{ __('Contains elements of', 'gesso')}}
          </span>
          {% if post.meta('playlist_select') == 'Tracks' %}
            {% for genre in all_genres %}
              <span class="tag tag--small">{{ genre }}</span>
              <!-- <a class="tag tag--small" href="/genres/{{ genre|lower|replace({' ':'-'}) }}">{{ genre }}</a> -->
            {% endfor %}
          {% else %}
            {% set genres = TimberTerm(playlist_genres) %}
            {% for genre in genres %}
              <span class="tag tag--small">{{ genre }}</span>
              <!-- <a class="tag tag--small" href="/genres/{{ genre|lower|replace({' ': '-'}) }}">{{ genre }}</a> -->
            {% endfor %}
          {% endif %}
        </div>
      {% endif %}

      {% if TimberTerm(playlist_moods) %}
        <div class="hero__moods">
          <span class="hero__label">
            {{ __('Perfect for the following moods', 'gesso')}}
          </span>
          {% if post.meta('playlist_select') == 'Tracks' %}
            {% for mood in all_moods %}
              <span class="tag tag--small">{{ mood }}</span>
              <!-- <a class="tag tag--small" href="/moods/{{ mood|lower|replace({' ': '-'}) }}">{{ mood }}</a> -->
            {% endfor %}
          {% else %}
            {% set moods = TimberTerm(playlist_moods) %}
            {% for mood in moods %}
              <span class="tag tag--small">{{ mood }}</span>
              <!-- <a class="tag tag--small" href="/moods/{{ mood|lower|replace({' ': '-'}) }}">{{ mood }}</a> -->
            {% endfor %}
          {% endif %}
        </div>
      {% endif %}

      {% if options.global_podcast_hero_nav_title %}
        <div class="hero__nav-title">{{ options.global_podcast_hero_nav_title }}</div>
      {% endif %}

      <div class="hero__nav">
        {% if function('previous_post_link', '<span class="tag tag--link">%link</span>') == true %}{% endif %}
        {% if function('next_post_link', '<span class="tag tag--link">%link</span>') == true %}{% endif %}
      </div>
    </div>
  </div>
  <div class="hero__image"></div>
</div>
