<!-- provided by templates/components/playlist--tracks.twig -->
<div class="playlist playlist--tracks">
  <div class="l-constrain">
  <div class="playlist__url-builder" style="display:none;">
    {% for track in post.meta('playlist_tracks') %}
      <div class="playlist__url" data-track-id="{{ track.ID }}">{{ track.tracks_video }}</div>
    {% endfor %}
  </div>

  <div class="playlist__controls">
    <div id="prev" class="playlist__button playlist__button--prev is-hidden">PREV</div>
    <div id="pause" class="playlist__button playlist__button--pause">PAUSE</div>
    <div id="next" class="playlist__button playlist__button--next">NEXT</div>
  </div>

  <div class="playlist__tracklist">

      <a class="playlist__tracklist-title">View Playlist</a>
      <div class="playlist__tracklist-list is-hidden">
          {% for t in post.meta('playlist_tracks') %}
          <a class="playlist__tracklist-item" data-wp-track-id="{{ t.ID }}">
            <span class="playlist__track-title">{{ t.post_title }}</span>
          </a>
          {% endfor %}
      </div>

  </div>

  <div class="playlist__player">
    <div id="player"></div>
  </div>
  </div>
</div>
