{% include "@components/searchform/searchform.twig" with
  {
		action: site.url,
		label: 'Search',
		placeholder: __('To search, type and hit enter.', 'gesso'),
		button_label: __('Search', 'gesso'),
		search_keyword: request.get.s
	}
%}
