<div class="section section--playlists">
  <h2 class="section__title">Playlists</h2>
  <ul class="section__list">
    {% if playlists %}
      {% for item in playlists %}
        <li class="section__list-item section__list-item--playlist">
          <h4 class="section__item-title">
            <a class="section__link" href="{{ item.link }}" target="_self">{{ item.post_title }}</a>
          </h4>
          <div class="section__date">{{ __('Published: ', 'gesso') }}
            {{ item.post_date|date('M jS Y') }}</div>
          <div class="section__author-meta">
            {% for person in item.meta('playlist_cuerator') %}
              <span>{{ __('Curated by: ', 'gesso') }}</span>
              <span>{{ person.post_title }}</span>
              <!-- Social Links for Curator -->
              {% for x in person.meta('contact_links') %}
                <!-- <a href="{{ x.url }}" target="_blank" class="section__link icon-{{ x.label | lower }}">{{ x.label }}</a> -->
              {% endfor %}
            {% endfor %}
          </div>
          <div class="section__thumbnail" style="{% if item.thumbnail %}background-image:url({{ TimberImage(item.thumbnail.src) }}){% else %}background-image:url('{{theme.link}}/images/cuerators_square.png'){% endif %}"></div>
          <!-- <div class="section__moods"> {% for mood in TimberTerm(item.meta('playlist_moods')) %} <span>{{ mood.name }}</span> {% endfor %} </div> -->
        </li>
      {% endfor %}
    {% else %}
      <p>No Playlists Available</p>
    {% endif %}

  </ul>
</div>
