<div class="section section--events">
  <h2 class="section__title">Events</h2>
  <ul class="section__list">
    {% if events %}
      {% for e in events %}
        <li class="section__item section__list-item--events">
          <div class="section__thumbnail" style="background-image:url()" alt="">
            <img src="{{ TimberImage(e.thumbnail.src) }}" alt="{{ TimberImage(e.thumbnail).alt }}">
          </div>
          <a class="section__item-title"href="{{e.link}}">{{ e.title }}</a>

          <div class="section__date">
            <h6>When</h6>
            {{ e.events_start_time|date('F jS Y  g:iA') }}
          </div>

          {% if e.events_description %}
              <div class="section__description">
                  <h6>Information</h6>
                  <div>{{ e.events_description }}</div>
              </div>
          {% endif %}

          {% if e.events_featured_artists %}
            <div class="section__list section__list--artists">
              <h6>Featuring</h6>
              {% for item in TimberTerm(e.events_featured_artists) %}
                <p class="section__artist">{{ item.name }}</p>
              {% endfor %}
            </div>
          {% endif %}

          {% if e.meta('events_links') %}
            <div class="section__links">
              <h6>Links</h6>
              {% for res in e.meta('events_links') %}
                <a class="section__event-link" href="{{ res.url.url }}" target="{{ res.url.target }}">{{ res.url.title }}</a>
              {% endfor %}
            </div>
          {% endif %}

          {% if e.events_tickets_url %}
            <div class="section__tickets-url">
              {{ e.events_tickets_url }}</div>
          {% endif %}

          {% if e.events_venue %}
            <div class="section__venue">
              <h6>Where</h6>
              <div class="">{{ e.events_venue.address }}</div>
              <a class="" target="_blank" href="https://www.google.com/maps/search/?api=1&query={{e.events_venue.lat}},{{e.events_venue.lng}}&query_place_id{{e.events_venue.address}}">Map</a>
            </div>
          {% endif %}
        </li>
      {% endfor %}
    {% else %}
      <p>No Events Scheduled</p>
    {% endif %}
  </ul>
</div>
