// @file
// Styles for Header Layout.

.l-header {
  background-color: get-color(red, 0);
  color: get-color(white, 0);
  .l-constrain {
    height: 100px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
  }
  h1 {
    font-size: rem(50px);
    margin-bottom: 0;
  }

  .menu__link {
    color: get-color(white, 0);
    @include breakpoint($bp-hide-mobile-menu, $no-query: true) {
      padding-right: 1rem;
    }

  }
}

.header__logo {
  height: 80px;
}
