// @file
// Styles for the main menu.

.menu--main {
  @include list-inline;
  display: none;
  a {
    font-family: $header-font-family;
    text-decoration: none;
    text-transform: uppercase;
    
    margin: 0 auto;
  }
  @include breakpoint($bp-hide-mobile-menu, $no-query: true) {
    display: block;
  }
}
