// @file
// List item styles.

li {
  font-weight: 100;
  margin-bottom: rem($vertical-spacing / 4);
  &:last-child {
    margin-bottom: 0;
  }

  @media print {
    & {
      page-break-inside: avoid;
    }
  }
}
