// @file
// Component: hero

.hero {
  // background-size: cover;
  // // height: 600px;
  // font-weight: 100;
  // background-repeat: no-repeat;
  // background-position: center;
}

.hero--playlist {
  display: flex;
  flex-direction: column;
  @media (min-width: $bp-hide-mobile-menu) {
    flex-direction: row;
  }
  .hero__content {
    background-color: rgba(0, 0, 0 ,.70);
    flex: 1 0 50%;
    order: 1;
    width: 100%;
    @media (min-width: $bp-hide-mobile-menu) {
      order: 0;
    }
  }
  .hero__image {
    min-height: 350px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    order: 0;
    @media (min-width: $bp-hide-mobile-menu) {
      flex: 1 0 50%;
      background-size: cover;
      font-weight: 100;
      background-repeat: no-repeat;
      background-position: center;
      order: 1;
    }
  }
}

.hero__content {
  display: flex;
  justify-content: flex-start;
  color: get-color(white, 0);
  flex-flow: column nowrap;
  height: 100%;
  margin: 0 auto;
  @media (min-width: $bp-hide-mobile-menu) {
    padding: 3rem 0;
  }
  .l-constrain {
    & div {
      max-width: 800px;
      margin: 0 auto;
    }
  }
}

.hero__title {
  color: #fff;
  font-size: 2rem;
  @media (min-width: $bp-hide-mobile-menu) {
    font-size: 2.5rem;
  }
}

.hero__sharing {
}

.hero__meta {
}

.hero__cuerator {
}

.hero__author {
  text-transform: uppercase;
  font-size: .8rem;
}

.hero__date {
  text-transform: uppercase;
  font-size: .8rem;
}

.hero__author-thumb {
}

.hero__description {
  padding: 1rem 0;
  .is-hidden {
    display: none;
  }
  @media (min-width: $bp-hide-mobile-menu) {
    // max-width: 66.7%;
  }
}

.hero__links {
}

.hero__genres {
  display: none;
  visibility: hidden;
}

.hero__moods {
  margin: 1rem 0;
  display: none;
  visibility: hidden;
}

.hero__label {
}


.hero__nav {
  align-items: center;
  display: flex;
  flex-flow: row wrap;
  a {
    text-decoration: none;
  }
}
.hero__nav-title {
  font-weight: 700;
  font-size: .8rem;
  padding: 1.5rem 0 5px 0;
  text-align: left;
  text-transform: uppercase;
  @media (min-width: $bp-hide-mobile-menu) {
    // text-align: center;
  }
}
.hero__nav-link {

}
