.section-header {
	background-color: get-color(red,0);
	padding: 2rem 0px;
	h2 {
		color: #fff;
		margin-bottom: 0px;
		font-size: $font-size-lg;
		text-transform: uppercase;
		letter-spacing: 0.3px;
	}
}
